@import './utils/normalize';
@import './utils/visually-hidden';
@import './utils/vars';
@import './utils/mixins';
@import './utils/fonts';
@import './utils/base_styles';

@import './components/common';
@import './components/header';
@import './components/section-hero';
@import './components/section-features';
@import './components/section-product';
@import './components/section-instagram';

@import './components/section-popular';
@import './components/section-popular';
@import './components/section-popular';
