body {
  padding: 15px 0 30px;
  background: linear-gradient(90deg, #c1dfc4 0%, #deecdd 100%);
  font-family: 'Montserrat', sans-serif;
}

.content-wrap {
  width: calc(100vw - 60px);
  max-width: 1350px;
  min-width: 780px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.04);
}

.icon {
  fill: currentColor;
}

.link {
  transition: color var(--trans-dur) var(--trans-timing);
}

.link:hover,
.link:focus {
  color: var(--color-accent);
}

.button {
  background-color: var(--color-accent);
  border: none;
  color: #fffdfd;
  cursor: pointer;

  transition: transform var(--trans-dur) var(--trans-timing);

  &:active {
    transform: translate(0, 2px);
  }
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
}
