.hero-section {
  position: relative;
  padding-top: 7px;
  min-height: 575px;
  background-image: url('../images/hero-bg.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.discounts {
  font-size: 22px;
  line-height: 1.23;
  margin-bottom: 25px;
}

.main-nav__list {
  margin-bottom: 105px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 33px;
  line-height: 1.2;
}

.main-nav__item:not(:last-child) {
  margin-right: 25px;
}

.main-nav__link {
  color: inherit;
}

.utils {
  position: absolute;
  top: 25px;
  right: 30px;

  display: flex;
}

.utils__item:not(:last-child) {
  margin-right: 10px;
}

.utils__button {
  width: 27px;
  height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;

  transition: color var(--trans-dur) var(--trans-timing);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.title__main {
  position: relative;
  display: inline-block;
  height: 115px;
  margin-bottom: 40px;
  @include font(85px, 1.28, 400, null);
  font-family: 'Chelsea Market';

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    // vertical-align: middle;
    width: 103px;
    height: 113px;
    background-image: url('../images/sprout.png');
  }
}

.title__slogan-top {
  padding-bottom: 11px;
  @include font(53px, 1.22, null, null);
}

.title__slogan-bottom {
  font-size: 33px;
}
