.product-section {
  padding: 5px 30px 30px;
  text-align: center;
}

.product-list {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 55px calc((100% - 2 * 315px) / 1);
    max-width: 750px;
  }

  @media screen and (min-width: 1200px) {
    gap: 55px calc((100% - 3 * 315px) / 2);
    max-width: 1200px;
  }
  
}

.product {
  position: relative;
  display: inline-block;
  width: 315px;
  padding: 258px 10px 15px;
  background-color: rgba(137, 137, 137, 0.13);
  border-radius: 5px;
  text-align: center;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 55px;
    }
  }
}

.product__foto {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(255px - 100%));

  width: max-content;
}

.product__name {
  margin-bottom: 11px;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.24;
}

.product__description {
  display: inline-block;
  margin-bottom: 14px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  color: #c4c4c4;
}

.product__buy-cont {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 213px;
}

.product__price {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
}

.product__buy-btn {
  width: 120px;
  height: 30px;
  box-shadow: 0px 63px 50px rgba(0, 0, 0, 0.07), 0px 26px 21px rgba(0, 0, 0, 0.05),
    0px 14px 11px rgba(0, 0, 0, 0.04), 0px 8px 6px rgba(0, 0, 0, 0.03), 0px 4px 3px rgba(0, 0, 0, 0.03),
    0px 1.7px 1.4px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  font-weight: 800;
  font-size: 15px;
  line-height: 1.2;
}

.product__favorite-btn {
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 195px 145px rgba(0, 0, 0, 0.1), 0px 71px 53px rgba(0, 0, 0, 0.07),
    0px 35px 26px rgba(0, 0, 0, 0.06), 0px 17px 13px rgba(0, 0, 0, 0.04), 0px 7px 5px rgba(0, 0, 0, 0.03);
}

.product__description-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.8);
  opacity: 0;
  width: 100%;
  height: 250px;
  padding: 15px;
  background-color: rgba(74, 156, 128, 0.8);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  pointer-events: none;

  transition: transform var(--trans-dur) var(--trans-timing),
              opacity var(--trans-dur) var(--trans-timing);

  .product__description:hover & {
    transform: scale(1);
    opacity: 1;
  }
}
